body {
 background: linear-gradient(100deg, #f5abce, #ceabf5);
}
h1, h2, form {
 padding: 5px;
 text-align: center;
 font-family: 'Gayathri', sans-serif;
 font-weight: bold;
}
h1 {
	 font-size: 40px;
	 padding: 15px;
}
h2 {
	 font-size: 30px;
}
#button {
  background-color: white;
  border-radius: 12px;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Gayathri', sans-serif;
}
div {
  text-align: center;
  padding: 20px;
}
p{
  padding: 15px;
}